 <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Welcome To Transactify</h2>
    <p class="lead">Join Us And carryout Your transactions</p>
  </div>
 </div>
 <div class="links">
  <% display_links.each do |path| %>
    <%= path %>
  <%end%>
 </div>